/* Modal background styling */
#loginModal {
    z-index: 100;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

/* Modal visibility using :target pseudo-class */
#loginModal:target {
    display: flex;
}

/* Modal content styling */
.modal-content {
    background-color: white;
    padding: 100px;
    border-radius: 30px;
    width: 80%;
    max-width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.center {
    text-align: center;
    align-content: center;
    background: black;
}

a {
    font-weight: bold;
}

h1 {
    color: red;
}