<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Task</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>

<body>
<h1>Create New Task</h1>
<div class="box">
    <!-- Task Form -->
    <form th:action="@{/dashboard/{projectId}/{subProjectId}/save-task(subProjectId=${subProjectId}, projectId=${projectId})}"
          th:object="${task}" method="post">
        <label class="addLabel" for="name">Name</label>
        <input class="placeholder" type="text" id="name" th:field="*{name}" placeholder="Task Name" required>

        <label class="addLabel" for="description">Description</label>
        <textarea class="placeholder" id="description" th:field="*{description}" placeholder="Task Description" rows="4"></textarea>

        <label class="addLabel" for="location">Location</label>
        <input class="placeholder" type="text" id="location" th:field="*{location}" placeholder="Location">

        <label class="addLabel" for="startDate">Start Date</label>
        <input class="placeholder" type="date" id="startDate" th:field="*{startDate}" required>

        <label class="addLabel" for="endDate">End Date</label>
        <input class="placeholder" type="date" id="endDate" th:field="*{endDate}" required>

        <label class="addLabel" for="totalEstHours">Estimated Hours</label>
        <input class="placeholder" type="number" step="0.1" id="totalEstHours" th:field="*{totalEstHours}" placeholder="Total Estimated Hours">

        <label class="addLabel" for="status">Status</label>
        <select id="status" th:field="*{status}" required class="btn-danger">
            <option th:value="${T(org.example.proflow.model.Status).ACTIVE}"
                    th:text="${T(org.example.proflow.model.Status).ACTIVE.getDisplayStatus()}">Active
            </option>
            <option th:value="${T(org.example.proflow.model.Status).INACTIVE}"
                    th:text="${T(org.example.proflow.model.Status).INACTIVE.getDisplayStatus()}">Inactive
            </option>
        </select>

        <label class="addLabel" for="assignedTo">Assigned To</label>
        <input class="placeholder" type="text" id="assignedTo" th:field="*{assignedTo}" placeholder="Assigned Person">

        <label class="addLabel" for="price">Price</label>
        <input class="placeholder" type="number" step="0.01" id="price" th:field="*{actualPrice}" placeholder="Task Price">

        <div style="margin-top: 20px;">
            <button class="button" type="submit">Save Task</button>
            <a th:href="@{/dashboard/{projectId}(projectId=${projectId})}" class="button button-secondary">Cancel</a>
        </div>
    </form>
</div>
</body>
</html>
