<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit profile</title>
    <link rel="stylesheet" th:href="@{/main.css}">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
</head>

<body>
<div class="flex-container">
    <div class="flex-item-1">
        <img class="logo" src="/images/logo.png" alt="logo">
    </div>
    <div class="flex-item-2"></div>
    <a th:href="@{/dashboard}" class="btn btn-danger">Go back</a>
    <a th:href="@{/logout}" class="btn btn-danger">Logout</a>
</div>

<h1>Create new project</h1>
<div class="add-project">
    <form th:action="@{/dashboard/save-project/{profileId}(profileId=${profileId})}" th:object="${project}"
          method="post">
        <label class="addLabel" for="name">Name</label>
        <input class="placeholder" type="text" id="name" th:field="*{name}">

        <br><label class="addLabel" for="description">Description</label>
        <input class="placeholder" type="text" id="description" th:field="*{description}">

        <br><label class="addLabel" for="startDate">Start date</label>
        <input class="placeholder" type="date" id="startDate" th:field="*{startDate}" required>


        <br><label class="addLabel" for="endDate">End date</label>
        <input class="placeholder" type="date" id="endDate" th:field="*{endDate}" required>


        <br><label class="addLabel" for="status">Status</label>
        <select id="status" th:field="*{status}" required>
            <option th:value="${T(org.example.proflow.model.Status).ACTIVE}"
                    th:text="${T(org.example.proflow.model.Status).ACTIVE.getDisplayStatus()}">Active
            </option>
            <option th:value="${T(org.example.proflow.model.Status).INACTIVE}"
                    th:text="${T(org.example.proflow.model.Status).INACTIVE.getDisplayStatus()}">Inactive
            </option>
        </select>


        <br><label class="addLabel" for="budget">Budget</label>
        <input class="placeholder" type="text" id="budget" th:field="*{budget}">

        <br>
        <button class="button" type="submit">Save</button>
        <button class="button" th:href="@{/dashboard}">Back</button>
    </form>
</div>

</body>

</html>

