<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/main.css}">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
</head>

<body>
<div class="flex-container">
    <div class="flex-item-1">
        <img class="logo" src="/images/logo.png" alt="logo">
    </div>
    <div class="flex-item-2"></div>
    <div class="flex-item-3"><a th:object="${session.profile}"
                                th:href="@{/edit/{profileId}(profileId=${session.profile.getId()})}" class="btn_2">Edit
        Profile</a>
        <a th:href="@{/logout}" class="btn btn-danger">Logout</a>
    </div>
</div>

<div class="container">
    <h1>Welcome to your profile, <span th:text="${profile.firstName}"></span>!</h1>

    <!--Hvis listen er tom -->
    <p th:if="${#lists.isEmpty(projectsFromProfile)}">You have no projects yet.</p>

    <!--Iterér gennem projects-->
    <div class="project-grid">
        <div class="card" th:each="project : ${projectsFromProfile}">
        <img class="card-img"
             src="https://images.pexels.com/photos/3109807/pexels-photo-3109807.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
             alt="Purple Image">
            <div class="card-body">
                <h5 class="card-title" th:text="${project.name}">Project title</h5>
                <!--Gør aktiv grøn og inaktiv rød -->
                <h5>Status: </h5>
                <h5 class="card-status"
                    th:style="${project.status.name() == 'ACTIVE' ? 'color:seagreen;' : (project.status.name() == 'INACTIVE' ? 'color:darkred;' : '')}"
                    th:text="${project.status.displayStatus}">
                </h5>

                <!--See project-->
                <form th:action="@{/dashboard/{projectId}(projectId=${project.id})}" method="get" style="display:inline;">
                    <button type="submit" class="btn-danger">See project</button>
                </form>
                <!-- Edit project form-->
                <form th:action="@{/dashboard/project/edit/{projectId}(projectId=${project.id})}" method="get" style="display:inline;">
                    <button type="submit" class="btn-danger">Edit</button>
                  <!--  Form til sletning-->
                <form th:action="@{/dashboard/project/delete/{projectId}(projectId=${project.id})}" method="post" class="delete-form"> <!-- TODO: virker ikke -->
                    <button type="submit" class="btn btn-really-dangerous">Delete</button>
                </form>
        </div>
    </div>
</div>

    <!-- Tilføj et nyt projekt -->

    <div class="box">
        <h2 class="inbox">Create new project</h2>
        <form th:action="@{/dashboard/add_project/{profileId}(profileId=${session.profile.id})}" method="get">
            <input type="text" name="projectName" placeholder="Enter project name" required>
            <button type="submit" class="btn-success">Create project</button>
        </form>
    </div>
</div>

<footer>
    <p>ProFlow - Project Management Tool by Alpha Solutions</p>
    <p></p>
    <p><a href="mailto:proflowteam@alpha-solutions.com">proflowteam@alpha-solutions.com</a></p>
</footer>
</body>
</html>