<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
</head>

<body>
<div class="header">
    <img class="logo" src="/images/logo.png" alt="logo">
    <div class="header-right">
        <a th:object="${session.profile}" th:href="@{/profile/edit/{profileId}(profileId=${session.profile.getProfileId()})}" class="btn btn-outline-secondary mr-2">Edit Profile</a>
        <a th:href="@{/homepage/logout}" class="btn btn-danger">Logout</a>
    </div>
</div>

<header>

</header>

<div class="container">
    <h1>Welcome to your profile, <span th:text="${profile.firstName}"></span>!</h1>

    <!-- Hvis listen er tom -->
    <p th:if="${#lists.isEmpty(projectsFromProfile)}">You have no projects yet.</p>

    <!-- Iterér gennem wishlist-objekter -->
    <div class="project-grid">
        <div class="card" th:each="project : ${projectsFromProfile}">
            <img class="card-img" src="https://images.pexels.com/photos/3109807/pexels-photo-3109807.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Purple Image">
            <div class="card-body">
                <h5 class="card-title" th:text="${project.name}">Project title</h5>
                <a th:href="@{/homepage/project/{id}(id=${project.projectId})}" class="btn-primary">See project</a>

                <!-- Form til sletning -->
                <form th:action="@{/homepage/project/remove/{id}(id=${project.projectId})}" method="post" class="delete-form">
                    <button type="submit" class="btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Tilføj et nyt projekt -->
    <div class="add-project">
        <h2 class="inbox">Create new project</h2>
        <form th:action="@{/homepage/project/add}" method="post">
            <input type="text" name="projectName" placeholder="Enter project name" required>
            <button type="submit" class="btn-success">Create project</button>
        </form>
    </div>
</div>

<footer>
    <p>ProFlow - Project Management Tool by Alpha Solutions</p>
    <p></p>
    <p><a href="mailto:proflowteam@alpha-solutions.com">proflowteam@alpha-solutions.com</a></p>
</footer>
</body>
</html>