<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit profile</title>
    <link rel="stylesheet" th:href="@{/main.css}">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
</head>

<body>
<div class="flex-container">
    <div class="flex-item-1">
        <img class="logo" src="/images/logo.png" alt="logo">
    </div>
    <div class="flex-item-2"></div>
    <a th:href="@{/dashboard}" class="btn btn-danger">Go back</a>
        <a th:href="@{/logout}" class="btn btn-danger">Logout</a>
</div>


<div class="header">

    <div class="header-right">

    </div>
</div>

<header>

</header>

<div class="container">
    <h1>Edit your profile, <span th:text="${profile.firstName}"></span>!</h1></div>
<p>Update your profile information below:</p>

<form th:action="@{/update/{profileId}(profileId=${profile.getId()})}"
      th:object="${profile}"
      method="post">


    <table class="table table-bordered">
        <tbody>
        <tr>
            <th scope="row">First Name</th>
            <td>
                <label>
                    <input type="text" class="form-control" name="firstName" th:field="*{firstName}" th:value="${profile.getFirstName()}">
                </label>
            </td>
        </tr>
        <tr>
            <th scope="row">Last Name</th>
            <td>
                <label>
                    <input type="text" class="form-control" name="lastName" th:field="*{lastName}" th:value="${profile.getLastName()}">
                </label>
            </td>
        </tr>
        <tr>
            <th scope="row">Email</th>
            <td>
                <label>
                    <input type="email" class="form-control" name="email" th:field="*{email}" th:value="${profile.getEmail()}">
                </label>
            </td>
        </tr>
        <tr>
            <th scope="row">Password</th>
            <td>
                <label>
                    <input type="password" class="form-control" name="password" th:field="*{password}" th:value="${profile.getPassword()}" placeholder="Enter new password">
                </label>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Save and Delete Buttons -->
    <div class="mt-4">
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
</form>

<form th:action="@{/profile/delete}" method="post" class="mt-3">
    <button type="submit" class="btn btn-danger">Delete Profile</button>
</form>
</div>

</body>
</html>