<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/main.css}">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
</head>
<body>

<div class="flex-container">
    <div class="flex-item-1">
        <img class="logo" src="/images/logo.png" alt="logo">
    </div>
    <div class="flex-item-2"></div>
    <!--<div class="flex-item-3"> <a th:object="${session.profile}" th:href="@{/profile/edit/{profileId}(profileId=${session.profile.getProfileId()})}" class="btn btn-outline-secondary mr-2">Edit Profile</a> -->
        <a th:href="@{/homepage/logout}" class="btn btn-danger">Logout</a>
</div>

<div class="center">
<h1>ProFlow</h1>
<h5>Project Management System</h5><br>
</div>

<div class="login-box">
    <h2>Login</h2>
    <form th:action="@{/homepage/login}" method="post">
        <label class="login-text" for="profileEmail">E-mail</label>
        <input type="email" id="profileEmail" name="profileEmail" th:value="${email}" required>

        <label class="login-text" for="profilePassword">Password</label>
        <input type="password" id="profilePassword" name="profilePassword" th:value="${password}" required>

        <button type="submit">Login</button>
    </form>
    <div class="links">
        <a th:href="@{/forgot-password}">Forgot email or username?</a>
        <a th:href="@{/signup}">Sign up</a>
    </div>
</div>

<!--
<ul>
    <li th:each="project : ${projects}" th:text="${project.getName()}"></li>
</ul>
-->
</body>
</html>